/* src/Pages/AboutPage.css */

.about-page {
    text-align: center;
    padding: 20px;
    
  }
  
  .contact-page{
    background-image: url('../assets/my-background.webp');
    background-size: contain; 

  }

  .contact-section{
    background-image: url('../assets/my-background.webp');
    background-size: contain; 

  }

  .content {
    margin-top: 20px;
  }
  