/* HomePage.css */
.home-page {
  text-align: center;
  position: relative;
  padding:0%;
}


.content{
  top: 100%;
}



/* .header .logo {
  width: 100%;
  height: 80px;
  margin: 20px 0;
} */

/* .nav-bar-container {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
} */

.nav-bar {                     /* الي جوا الناف بار*/
  background-color: #210055;            
  display: flex;
  justify-content: flex-end; /* Ensure buttons align from right to left */
  gap: 20px;
  padding: 10%;
  width:100%;
  
}

.nav-bar button {
  padding: 10px 20px;
  background-color: rgba(164, 162, 155, 0.8);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: #ffffff;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  text-align: right;
  white-space: nowrap;
}

.dropdown-menu button:hover {
  background-color: #555;
}


.background {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 0;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.whoAreWe {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 800px; /* Increase max width for larger layout */
  margin: 20px auto;
}

.whoAreWe-content {
  max-width: 600px;
  line-height: 1.5;
  text-align: right;
}

.whoAreWe h1 {
  margin-top: 0;
}

.whoAreWe p {
  margin: 0;
  padding-bottom: 20px;
}

.whoAreWe-image {
  max-width: 300px; /* Adjust the size of the image */
  margin-left: 20px; /* Space between the text and image */
  padding-left: 25px;
}

.image-buttons-section {
  margin-top: 40px;
  padding-bottom: 40px;
}

.image-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.image-button img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image-button img:hover {
  transform: scale(1.1);
}

.button-label {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}
