




.content-upload {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.content-upload h2 {
  margin-bottom: 20px;
}

.content-upload form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-upload input[type="file"] {
  margin-bottom: 10px;
}
.content-upload .ql-container {
  height: 200px; /* Set a fixed height for the editor */
  margin-bottom: 10px;
  width: 100%;
}
.content-upload textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content-upload button {
  padding: 10px 20px;
  background-color: #4aa1c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content-upload button:hover {
  background-color: #ffffff;
  color: #4aa1c9;
}


.content-upload2 {
  text-align: center;
  margin-bottom: 20px;
}

.content-upload2 button {
  padding: 10px 20px;
  background-color: #4aa1c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.content-upload2 button:hover {
  background-color: #ffffff;
  color: #4aa1c9;
}