.content-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px;
    text-align: center;
  }
  
  .content-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  