.search-results {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .search-result-item {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-result-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  