/* index.css */
body {
  background: linear-gradient(to bottom, #555353, #fcfcfc);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #555353, #ffffff);
  background: linear-gradient(to top, #555353, #fcfcfc);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}
